
<!DOCTYPE html>
<html>

<head>
    <title>Map</title>
    <link rel='stylesheet' href='/stylesheets/map.css'/>
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/dataAnalysis.css'/>
    <link rel='stylesheet' href='/stylesheets/data.css'/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script rel="script" src='/javascripts/api/displayData.js'></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body onload="startTime()">
<% include templates/header.ejs %>
<h2 align="center" style="color: white; font-size: 50px;">Data Analysis</h2>
<div class="container">
    <div style="margin-left:12px;"><span><i class="material-icons">access_alarm</i></span>Time:
        <div id="txt" style="display: inline-block;"></div>
    </div>
    <div style="margin-left:5px;"><span><i class="material-icons">flight_takeoff</i></span>Live Planes: <span
                id="numPlanes">000</span></div>
    <div style="margin-left:12px;"><span><i class="material-icons">card_travel</i></span>Total
        Airlines: <%= airlineCount %></div>
</div>
<div class="container" style="margin-bottom: 30px;">
    <div style="margin-left:12px;"><span><i class="material-icons">airplanemode_active</i></span>Total Aircraft models:
        <%= modelCount %>
    </div>
    <div style="margin-left:5px;"><span><i class="material-icons">network_check</i></span>Avg fuel: <span
                id="avgFuelNum"></span>kg/km
    </div>
    <div style="margin-left:12px;"><span><i class="material-icons">local_gas_station</i></span>Total
        Fuel: <%- JSON.stringify(totalFuelConsumption[0].sum) %>
    </div>
</div>

<div class="borderDiv">
    <div class="statsHeading">Country Stats (Top 10)</div>
    <div id="wrapper">
        <div id="barChartThree" style="height: 300px; width: 50%;"></div>
        <div id="pieChartThree" style="height: 300px; width: 50%;"></div>
    </div>
</div>

<div class="borderDiv">
    <div class="statsHeading">Airlines Stats (Top 10)</div>
    <div id="wrapper">
        <div id="barChartOne" style="height: 300px; width: 50%;"></div>
        <div id="pieChartOne" style="height: 300px; width: 50%;"></div>
</div>
</div>

<div class="borderDiv">
    <div class="statsHeading">Model Stats (Top 10)</div>
    <div id="wrapper">
        <div id="barChartTwo" style="height: 300px; width: 50%;"></div>
        <div id="pieChartTwo" style="height: 300px; width: 50%;"></div>
    </div>
</div>

<div class="borderDiv">
    <div class="statsHeading">Arrivals per Airports</div>
    <div id="wrapper">
        <div id="barChartFour" style="height: 300px; width: 90%;"></div>
    </div>
</div>

<div class="borderDiv">
    <div class="statsHeading">Departures per Airports</div>
    <div id="wrapper">
        <div id="barChartFive" style="height: 300px; width: 90%;"></div>
    </div>
</div>

<div class="borderDiv">
    <div class="statsHeading">Fuel usage</div>
    <div id="wrapper">
        <div id="timeLineChart" style="height: 300px; width: 90%;"></div>
    </div>
</div>

<div class="borderDiv">
    <div class="statsHeading">Emission usage</div>
    <div id="wrapper">
        <div id="timeLineChartTwo" style="height: 300px; width: 90%;"></div>
    </div>
</div>

<div class="borderDiv" style="margin-top: 20px;">
    <div>
        <div class="statsHeading">Live Aircraft</div>
    </div>
    <div id="wrapper" style="overflow:auto; height: 200px; width:100%;">
        <table id="data" style="width:100%;">
            <tr style="width:100%;">
                <th>ICAO24</th>
                <th>CountryOrigin</th>
                <th>longitude</th>
                <th>latitude</th>
                <th>altitude</th>
                <th>velocity m/s</th>
            </tr>
        </table>
    </div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Aircraft.." title="Type Aircraft">

</div>
<script>
    var span = document.getElementById("avgFuelNum");
    span.textContent = (<%- JSON.stringify(avgFuelConsumption[0].avg) %>).toFixed(2);


    var modelNumbers = <%- JSON.stringify(modelSql) %>;
    console.log(modelNumbers);
    var countryFuelUsed = <%- JSON.stringify(countryFuelUsed) %>;
    var countryPlanesCount = <%- JSON.stringify(countryPlanesCount) %>;
    var airlineFuelUsed = <%- JSON.stringify(airlineFuelUsed) %>;
    var airlinePlanesCount = <%- JSON.stringify(airlinePlanesCount) %>;
    var modelFuelUsed = <%- JSON.stringify(modelFuelUsed) %>;
    var modelPanesCount = <%- JSON.stringify(modelPanesCount) %>;
    var originAirportCount = <%- JSON.stringify(originAirportCount) %>;
    var destinationAirportCount = <%- JSON.stringify(destinationAirportCount) %>;
    var fuelOverTime = <%- JSON.stringify(fuelOverTime) %>;
    var test = <%- JSON.stringify(emissions) %>;

    var chart = new CanvasJS.Chart("pieChartOne", {
        animationEnabled: true,
        backgroundColor: "#171c2b", //#171c2b
        title: {
            text: "Plane Per Airline",
            fontColor: "white"
        },
        data: [{
            type: "pie",
            startAngle: 240,
            yValueFormatString: "##0.00\"%\"",
            indexLabel: "{label} {y}",
            labelFontColor: "white",
            indexLabelFontColor: "white",
            dataPoints: airlinePlanesCount
        }]
    });
    chart.render();

    var chart = new CanvasJS.Chart("barChartOne", {
        animationEnabled: true,
        backgroundColor: "#171c2b",
        title: {
            text: "Airline Fuel Usage",
            fontColor: "white"
        },
        axisX: {
            interval: 1,
            labelFontColor: "white"
        },
        axisY: {
            labelFontColor: "white",
        },
        axisY2: {
            title: "fuel kg",
            titleFontColor: "White",
            labelFontColor: "white",
        },
        data: [{
            type: "bar",
            name: "companies",
            axisYType: "secondary",
            color: "#014D65",
            dataPoints: airlineFuelUsed,
        }]
    });
    chart.render();
    //--------------------------------------------------------------------
    var chart = new CanvasJS.Chart("pieChartTwo", {
        animationEnabled: true,
        backgroundColor: "#171c2b",
        title: {
            text: "Number of Models",
            fontColor: "white"
        },
        data: [{
            type: "pie",
            startAngle: 240,
            yValueFormatString: "##0.00\"%\"",
            indexLabel: "{label} {y}",
            indexLabelFontColor: "white",
            dataPoints: modelPanesCount
        }]
    });
    chart.render();

    var chart = new CanvasJS.Chart("barChartTwo", {
        animationEnabled: true,
        backgroundColor: "#171c2b",
        title: {
            text: "Model Fuel Usage",
            fontColor: "white"
        },
        axisX: {
            interval: 1,
            labelFontColor: "white"
        },
        axisY: {
            labelFontColor: "white",
        },
        axisY2: {
            labelFontColor: "white",
        },
        data: [{
            type: "bar",
            name: "companies",
            axisYType: "secondary",
            color: "#014D65",
            dataPoints: modelFuelUsed
        }]
    });
    chart.render();

    //-----------------------------------------------------
    var chart = new CanvasJS.Chart("pieChartThree", {
        animationEnabled: true,
        backgroundColor: "#171c2b",
        title: {
            text: "Aircraft By Country",
            fontColor: "white"
        },
        data: [{
            type: "pie",
            startAngle: 240,
            yValueFormatString: "##0.00\"%\"",
            indexLabel: "{label} {y}",
            indexLabelFontColor: "white",
            dataPoints: countryPlanesCount,
        }]
    });
    chart.render();

    var chart = new CanvasJS.Chart("barChartThree", {
        animationEnabled: true,
        backgroundColor: "#171c2b",
        title: {
            text: "Country Fuel Usage",
            fontColor: "white"
        },
        axisX: {
            interval: 1,
            labelFontColor: "white"
        },
        axisY: {
            labelFontColor: "white",
        },
        axisY2: {
            labelFontColor: "white",
        },
        data: [{
            type: "bar",
            name: "companies",
            axisYType: "secondary",
            color: "#014D65",
            dataPoints: countryFuelUsed
        }]
    });
    chart.render();
    //-----------------------------------------------------------
    // Arrival bar chart
    var chart = new CanvasJS.Chart("barChartFour", {
        animationEnabled: true,
        backgroundColor: "#171c2b",
        title: {
            text: "Arrival",
            fontColor: "white"
        },
        axisX: {
            interval: 1,
            labelFontColor: "white"
        },
        axisY: {
            labelFontColor: "white",
        },
        axisY2: {
            labelFontColor: "white",
        },
        data: [{
            type: "bar",
            name: "companies",
            axisYType: "secondary",
            color: "#014D65",
            dataPoints: destinationAirportCount
        }]
    });
    chart.render();
    //---------------------------
    //Departures bar chart
    var chart = new CanvasJS.Chart("barChartFive", {
        animationEnabled: true,
        backgroundColor: "#171c2b",
        title: {
            text: "Departures",
            fontColor: "white"
        },
        axisX: {
            interval: 1,
            labelFontColor: "white"
        },
        axisY: {
            labelFontColor: "white",
        },
        axisY2: {
            labelFontColor: "white",
        },
        data: [{
            type: "bar",
            name: "companies",
            axisYType: "secondary",
            color: "#014D65",
            dataPoints: originAirportCount
        }]
    });
    chart.render();

    //---------------------------------------
    var chart = new CanvasJS.Chart("timeLineChart",
        {
            backgroundColor: "#171c2b",
            title: {
                text: "Fuel Consumption (Passed 10 Days)",
                fontColor: "white"
            },
            axisX: {
                title: "timeline",
                labelFontColor: "white",
                valueFormatString: "##th"
            },
            axisY: {
                title: "Downloads",
                labelFontColor: "white",
            },
            data: [
                {
                    xValueFormatString: "day ##th",
                    yValueFormatString: "######kg",
                    type: "area",
                    xValueType: "timestamp",
                    dataPoints: fuelOverTime,

                }
            ]
        });

    chart.render();
    //----------------------------------------------------------
    var chart = new CanvasJS.Chart("timeLineChartTwo",
        {
            backgroundColor: "#171c2b",
            title: {
                text: "Emissions (Passed 10 Days)",
                fontColor: "white"
            },
            axisX: {
                title: "timeline",
                labelFontColor: "white",
                valueFormatString: "##th"
            },
            axisY: {
                title: "Downloads",
                labelFontColor: "white",
            },
            data: [
                {
                    type: "area",
                    xValueType: "timestamp",
                    dataPoints: test,
                }
            ]
        });

    chart.render();
    //CLOCK
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
            h + ":" + m;
        var t = setTimeout(startTime, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i
        }  // add zero in front of numbers < 10
        return i;
    }

    //Number of planes
    numberOfPlanes();
    function numberOfPlanes() {
        var x = document.getElementById("data").rows.length;
        document.getElementById("numPlanes").innerHTML = x;
        setTimeout(numberOfPlanes, 300);
    }

    //Table search function
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("data");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            tx = tr[i].getElementsByTagName("td")[1];
            if (td || tx) {
                txtValue = td.textContent || td.innerText;
                txtValue1 = tx.textContent || tx.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else if (txtValue1.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
<!--JamesMurphy-16421512-->
</body>
