<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include templates/header.ejs %>
<div class="bodyDiv">
    <h1 class="Heading"><%= title %></h1>
    <div class="info">
        <p>Name: <%= name %></p>
        <p>Student ID: <%= student_id %></p>
        <p>University: <%= uni %></p>
    </div>

    <a href="/map" class="myButton">Begin</a>
</div>
<% include templates/footer.ejs %>
</body>
</html>
