<!DOCTYPE html>
<html>
<head>
    <title>Search Aviation</title>
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/search.css'/>

</head>
<body>
<% include templates/header.ejs %>
<div class="search">
    <p>Plane Icao: <%= planeIcao %></p>
    <p>planeIata: <%= planeIata %></p>
    <p>planeManufacture: <%= planeManufacture %></p>
    <p>planeModel: <%= planeModel %></p>
    <p>planeOwner: <%= planeOwner %></p>
    <p>planeModelIcao: <%= planeModelIcao %></p>

</div>
</div>
</body>
</html>
