<!DOCTYPE html>
<html>
<head>
    <title>Search Aviation</title>
    <!-- Imported libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <link href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" rel="stylesheet"/>
    <!--   Created CSS files-->
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/planeEmissions.css'/>
</head>
<body>
<% include templates/header.ejs %><!--navbar imported using ejs -->
<div class="splitOne left">
    <a href="/planeMap" class="closebtn">&times;</a>
    <div id="planeTitle">
        <% if (planeManufacture.length < 1 || planeManufacture.length === null) { %>
            Null
        <% }else{ %>
            <%= planeManufacture %>
        <% } %>
        <span id="airplaneModel"><%= planeModel %></span></div>
    <div class="planePicture"></div>
    <div class="search">
        <table id="myTable">
            <tr>
                <td class="bold">Airline:</td>
                <td>
                    <% if (planeOwner.length < 1 || planeOwner == null ) { %>
                        Null
                    <% }else{ %>
                        <%= planeOwner %>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td class="tab">Callsign:</td>
                <td id="planeName"><%= planeIcao %></td>
            </tr>
            <tr>
                <td class="tab">Latitude:</td>
                <td id="planeLat"><%= planeLat %></td>
            </tr>
            <tr>
                <td class="tab">Longitude:</td>
                <td id="planeLong"><%= planeLong %></td>
            </tr>
            <tr>
                <td class="bold">Origin Airport:</td>
                <td id="originName">
                    <% if (originAirportName.length < 1) { %>
                        Null
                    <% }else{ %>
                        <%= originAirportName %>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td class="tab">Latitude:</td>
                <td id="originLat"><%= originAirportLat %></td>
            </tr>
            <tr>
                <td class="tab">Longitude:</td>
                <td id="originLong"><%= originAirportLong %></td>
            </tr>
            <tr>
                <td class="bold">Destination Airport:</td>
                <td id="destinationName">
                    <% if (destinationAirportName.length < 1) { %>
                        Null
                    <% }else{ %>
                        <%= destinationAirportName %>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td class="tab">Latitude:</td>
                <td id="destinationLat"><%= destinationAirportLat %></td>
            </tr>
            <tr>
                <td class="tab">Longitude:</td>
                <td id="destinationLong"><%= destinationAirportLong %></td>
            </tr>
            <tr>
                <td>Distance Between Airports:</td>
                <td><%= distanceOriginToDestination %></td>
            </tr>
            <tr>
                <td>Distance Between plane to Destination:</td>
                <td><%= distancePlaneToDestination %></td>
            </tr>
            <tr>
                <td>Distance Between plane to Origin:</td>
                <td><%= distancePlaneToOrigin %></td>
            </tr>
            <tr>
                <td>fuel used:</td>
                <td><%= fuelUsed %></td>
            </tr>
            <tr>
                <td>Fuel per Km:</td>
                <td><%= fuelToUse %>kg/km</td>
            </tr>
        </table>
    </div>

</div>

<div class="split right">
    <div id='Map'></div>
    <div class="emissionDiv">
        Emission: <span>000</span> C02
    </div>
</div>
</body>
<!--    Created Javascript files-->
<script type="text/javascript" src="/javascripts/planeEmissions/imageApi.js"></script>
<script type="text/javascript" src="/javascripts/planeEmissions/planeEmissionsMap.js"></script>
<!--JamesMurphy-16421512-->
</html>